{% if site.disqus %}
<div class="comments">
	
	<h4>#1 Thess 5:11 Therefore encourage one another and build one another up, just as you are doing.</h4>
	<h5>The purpose of the comments section below is for us to mutually share our thoughts and spur each other toward God,
	    kindly note that any comments that is continously flagged will be automatically removed from the discussion thread.
	    <p>May our discussion below bring edification to each other's faith</p>	    
	</h5>
	
	<div id="disqus_thread"></div>
	<script type="text/javascript">

	    var disqus_shortname = '{{ site.disqus }}';

	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();

	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}
