---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1> 
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.tags %} | 
  {% for tag in page.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
  {% endfor %}
  {% endif %}

  {% if page.hymns %}
  {% for hymn in page.hymns %}
    <div class="post-hymn">Hymn {{ hymn }}</div>
  {% endfor %}
  {% endif %}
  
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="related">
  <h2>Latest Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ post.url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>

<h2>Related Posts</h2>	
<ul>
  {% for post in site.posts %}
    {% if post.url != page.url %}	
      {% for tag in page.tags %} 
        {% if post.tags contains tag %}
          <li><a href="{{ post.url }}">{{ post.title }}</a><br /></li>
          {% break %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
  	<a>#1 Thess 5:11 Therefore encourage one another and build one another up, just as you are doing.</a>
	<font size="3">The purpose of the comments section below is for us to share our thoughts and spur each other toward God,
	    kindly note that any comments that is continously flagged will be automatically removed from the discussion thread.
	 <p>Feel free to share if there are any improvements that can be made on the text above </p>
	 <p>May our discussion below bring edification to each other's faith</p>
	<font>
	
		
  {% include disqus.html %}
</article>
